.container {
    padding: 50px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    font-size: 16px;
}

.instructions {
    margin-left: 20px;
}

.instructions span {
    display: block;
    margin: 10px 0;
}

.options li {
    list-style: lower-latin;
}

blockquote,
.selected {
    background-color: #dfe4ff;
    margin-right: 0;
}

table {
    border: 1px solid;
    margin-left: 40px;
}

th {
    background-color: #ff8d00;
    color: #FFF;
}

tr:nth-child(even) {
    background-color: #ffe4c3;
}