<mat-toolbar color="primary">
    <span>Ejercicio de empleados</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/quiz">
        Ver Examen
    </button>
  </mat-toolbar>
  
  <nav mat-tab-nav-bar>
    <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
            {{link.label}}
    </a>
</nav>
  
<div class="container">
    <router-outlet></router-outlet>
</div>